APP_NAME="Mega-RAG"
APP_VERSION="0.1.0"
APP_DESCRIPTION="A powerful Retrieval-Augmented Generation (RAG) system built with FastAPI, designed to provide accurate and efficient responses by leveraging a combination of retrieval and generation techniques."
GEMINI_API_KEY=""
